<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
    </div>
    <script>
        const vm = Vue.createApp({
            data() {
                return {
                    text: "Accede a tu cuenta",
                    textDelete: "Delete",
                    textAdd: "Add",
                    textShow: "Show form",
                    textNew: "New",
                    open: false,
                    username: "",
                    show: false,
                    title: "",
                    description: "",
                    posts: [
                        {
                            title: "titulo 1",
                            description: "Lorem ipsu"
                        },
                        {
                            title: "titulo 2",
                            description: "Lorem ipsu"
                        },
                        {
                            title: "titulo 3",
                            description: "Lorem ipsu"
                        },
                        {
                            title: "titulo 4",
                            description: "Lorem ipsu"
                        },
                    ]
                };
            }, methods: {
                deleted(index) {
                    this.posts.splice(index, 1);
                },
                add() {
                    this.posts.push({
                        title: this.title,
                        description: this.description
                    });
                    this.title = "";
                    this.description = "";
                    this.show = false;
                },
                closePopup() {
                    this.show = false; // Ocultar el pop-up
                    this.title = "";
                    this.description = "";
                },

            }, watch: {
                open(value) {
                    if (value) {
                        this.text = "";
                        //this.styles.backgroundColor = "#b5e7a0"
                    } else {
                        this.text = "Accede a tu cuenta";
                        this.username = "";
                        //this.styles.backgroundColor = "#eca1a6"
                    }
                }
            }, computed: {
                label() {
                    return this.open ? "Cerrar" : "Abrir";
                },
                styles() {
                    return this.open ? ['open'] : ['closed']
                }
            }
            ,
            template: `
            <div class="container"> 
                <h2> {{text}} </h2>
                <div class="messages" v-if="open">
                    <p>Hola, {{username}}</p>    
                    <div class="list" v-if="posts.length > 0" > 
                        <div v-for="(item, i) in posts" :key="i" class="item"> 
                            <div class="item-header">
                                <div class="title">{{ item.title }}</div>
                                <button @click="deleted(i)" class="delete-btn">❌</button>
                            </div>
                            <p>{{ item.description }}</p>       
                                                       
                        </div>
                    </div>
                    <div v-else>
                        <h2>empty list</h2>
                    </div>

                    <button @click="show = !show">{{ textNew }} ➕</button>    

                    <div class="popup" v-if="show">
                        <div class="popup-content">
                            <div class="input-container">
                                <input type="text" id="title" placeholder="Título" class="input-field" v-model="title">
                                <input type="text" id="description" placeholder="Descripción" class="textarea-description" v-model="description" maxlength="100" rows="4" >
                            </div>
                            <button class="button-add" @:click="add()">{{ textAdd }} ✔</button>
                            <button class="button-close" @click="closePopup">Cerrar ✖</button>                     
                        </div>
                    </div>

                </div>
                <div v-else>
                    <label>Username </label>
                    <input type="text" placeholder="username" v-model="username">
                    
                </div>                

                <button @click="open = !open">  
                    <div v-if="!open">Acceder 🔑</div>
                    <div v-else>Salir 🔐</div>                
                </button>
            </div>
            `

        }).mount("#app");

    </script>

</body>

</html>